USE [master]
GO
/****** Object:  Database [CadeMeuMedico]    Script Date: 15/04/2019 10:16:10 ******/
CREATE DATABASE [CadeMeuMedico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CadeMeuMedico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CadeMeuMedico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CadeMeuMedico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CadeMeuMedico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CadeMeuMedico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CadeMeuMedico]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15/04/2019 10:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 15/04/2019 10:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[CidadeID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cidade] PRIMARY KEY CLUSTERED 
(
	[CidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidade]    Script Date: 15/04/2019 10:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidade](
	[EspecialidadeID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Especialidade] PRIMARY KEY CLUSTERED 
(
	[EspecialidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 15/04/2019 10:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[MedicoID] [int] NOT NULL,
	[DataAdd] [nvarchar](128) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[CRM] [nvarchar](max) NULL,
	[Endereco] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
	[DataAtual] [nvarchar](max) NULL,
	[CidadeID] [int] NOT NULL,
	[EspecialidadeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Medico] PRIMARY KEY CLUSTERED 
(
	[MedicoID] ASC,
	[DataAdd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/04/2019 10:16:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Senha] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CidadeID]    Script Date: 15/04/2019 10:16:11 ******/
CREATE NONCLUSTERED INDEX [IX_CidadeID] ON [dbo].[Medico]
(
	[CidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EspecialidadeID]    Script Date: 15/04/2019 10:16:11 ******/
CREATE NONCLUSTERED INDEX [IX_EspecialidadeID] ON [dbo].[Medico]
(
	[EspecialidadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medico_dbo.Cidade_CidadeID] FOREIGN KEY([CidadeID])
REFERENCES [dbo].[Cidade] ([CidadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_dbo.Medico_dbo.Cidade_CidadeID]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medico_dbo.Especialidade_EspecialidadeID] FOREIGN KEY([EspecialidadeID])
REFERENCES [dbo].[Especialidade] ([EspecialidadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_dbo.Medico_dbo.Especialidade_EspecialidadeID]
GO
USE [master]
GO
